{% extends "base.html" %}
{% block content %}
<div class="container my-4">
    <div class="row">
        <!-- Placeholder image section -->
        <div class="col-md-4">
            <div class="bg-secondary ratio ratio-1x1 d-flex align-items-center justify-content-center text-white">(Insert Image Here)</div>

            <div class="card my-2 p-2">
                <div class="d-flex flex-row gap-3">
                    <form action="{% url 'purchase' %}" method="post" class="mb-0">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Purchase</button>
                    </form>
                </div>
            </div>
        </div>
        
        <!-- Game details section -->
        <div class="d-flex flex-column col card py-3">
            <div class="flex flex-row justify-content-between">
                <h2 class="d-inline-flex">Current Cart</h2>
            </div>

            <table class="table" style="max-height: 80vh;">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Game</th>
                        <th scope="col">Console</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col">Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart %}
                    <tr>
                        {% comment %} <th scope="row">{{ forloop.counter }}</th> {% endcomment %}
                        <td>{{ item.game_title }}</td>
                        <td>{{ item.console }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>${{ item.price }}</td>
                        <td>${{ item.item_total }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6">Your cart is empty.</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td style="padding-right: 3.5rem;" align="right" colspan="5"><strong>Total: ${{ total_cost }}</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>       
        </div>
    </div>
</div>
{% endblock %}