{% extends "base.html" %}
{% block content %}
<div class="container my-4">
    <div class="row">
        <!-- Placeholder image section -->
        <div class="col-md-4">
            <div class="bg-secondary ratio ratio-1x1 d-flex align-items-center justify-content-center text-white">(Insert Image Here)</div>

            <div class="card my-2 p-2">
                <h4>Manage Game Entry</h4>

                <div class="d-flex flex-row gap-3">
                    <button class="btn btn-primary">Edit Entry</button>
                    <form action="{% url 'deleteInventoryEntry' game.pk %}" method="post" onsubmit="return confirm('Are you sure?');"
                        class="mb-0">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>

            </div>

        </div>
        
        <!-- Game details section -->
        <div class="col-md-8">
            <h1 class="mb-3">{{ game.title }}</h1>

            <table class="table table-striped border">
                <h4>Entry Information</h4>
                <thead></thead>
                <tbody>
                    <tr>
                        <th>Price:</th>
                        <td>${{ game.price }}</td>
                    </tr>
                    <tr>
                        <th>Genres</th>
                        <td>{% for genre in game.genres.all %}{{ genre.name|title }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                    </tr>
                    <tr>
                        <th>Developer:</th>
                        <td>{{ game.developer.name }}</td>
                    </tr>
                    <tr>
                        <th>Release Date:</th>
                        <td>{{ game.release_date|date:"F j, Y" }}</td>
                    </tr>
                </tbody>
            </table>

            <!-- Game stock section -->
            <table class="table border">
                <h4>Available Consoles</h4>
                <thead>
                    <tr>
                        <th>Console</th>
                        <th>Available Stock</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for stock in console_stocks|dictsortreversed:"stock" %}

                    <!-- A very simple way to determine what kind of table row colour to use depending on game stock-->
                    {% if stock.stock == 0%}
                    <tr class="table-secondary">
                    {% elif stock.is_low_stock %}
                    <tr class="table-warning">
                    {% else %}
                    <tr class="table-success">
                    {% endif %}


                        <td>{{ stock.console.name }}</td>
                        <td>{{ stock.stock }}</td>
                        {% if stock.stock > 0 %}
                        <td class="text-end">
                            <form action="{% url 'addToCart' stock.id %}" method="post" class="mb-0">
                                {% csrf_token %}
                                <input type="hidden" name="game_id" value="{{ game.id }}">
                                <input type="hidden" name="console_id" value="{{ stock.console.id }}">
                                <input type="hidden" name="stock_id" value="{{ stock.id }}">
                                <button type="submit" class="btn btn-primary">Add to Cart</button>
                            </form>
                        </td>
                        {% else %} <!-- If there is no stock, don't create a form at all -->
                        <td class="text-end">
                            <button class="btn btn-secondary" disabled>Out of Stock!</button>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>       
        </div>
    </div>
</div>
{% endblock %}
